@media all and (min-width: 1920px) {
  .container {
    margin: 0 15%;
  }

  .logo {
    margin: 11% 5%;
  }

  .header-left h1 {
    margin-top: 14%;
  }

  .header-right {
    left: 45%;
    position: relative;
    margin-left: 0;
  }

  .hero-sections-left h1 {
    margin-left: 8%;
  }

  .hero-sections-left h3 {
    margin-left: 8%;
  }

  .hero-sections-left p {
    margin-left: 8%;
  }

  .btn-wrapper {
    left: 222px;
  }

  .kartun {
    left: 59%;
    width: 28%;
    height: auto;
  }

  .highlight-content li {
    flex: auto;
  }

  .row {
    justify-content: space-between;
  }

  .row .logo {
    margin: 0 10% 0 0;
    padding-right: 25%;
  }

  .footer-col {
    width: 11%;
  }
}

@media all and (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
