@media all and (min-width: 1980px) {
  .container {
    margin: auto;
  }

  .learning-process {
    padding: auto;
  }

  .learning-process h1 {
    padding-bottom: 34px;
    font-size: 45px;
    line-height: 55px;
    letter-spacing: 0.5px;
  }
}
