@media all and (min-width: 1920px) {
  .container {
    width: 100%;
    margin: 0 15%;
  }

  .logo {
    margin: 11% 5%;
  }

  .header-left h1 {
    margin-top: 14%;
  }

  .hero-sections-left h1 {
    margin-left: 8%;
  }

  .hero-sections-left h3 {
    margin-left: 8%;
  }

  .hero-sections-left p {
    margin-left: 8%;
  }

  .btn-wrapper {
    left: 222px;
  }

  .kartun {
    left: 59%;
    width: 28%;
    height: auto;
  }

  .highlight-content li {
    flex: auto;
  }

  /* .learning-process {
    padding: auto;
  }

  .learning-process h1 {
    padding-bottom: 34px;
    font-size: 55px;
    line-height: 55px;
    letter-spacing: 0.5px;
  }

  .learning-process p {
    font-size: 24px;
  }

  .container-courses {
    height: 400px;
    padding: 0 110px 0 110px;
    justify-content: space-between;
  }

  .courses {
    width: 22%;
    height: 100%;
  } */
}

/* @media all and (max-width: 810px) {
  header {
    display: none;
  }
} */

@media all and (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
