@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
/* @import 'responsive.css'; */

/* font-family: 'Poppins', sans-serif; */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fbf2f2;
}

.container {
  margin: 0 72px 0 72px;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

/* 
Notes:
1. Font sudah di import di CSS
2. Reset Margin, Padding, dll
3. Ada kelas BUTTON secara general, tinggal panggil "btn ..."
4. Responsive mulai dari Resolusi 1920px kebawah? soalnya di FIGMA Framenya Resolusi 1440px WKWK  

 */

/* ANAM */
.about {
  text-align: center;
  background-color: #fffff0;
  padding: 50px 15px;
  border: 1px solid #ec6069;
}

.about h1 {
  color: #cd4451;
}

.about span {
  color: #8ed0fb;
}

.about p {
  color: #903040;
  width: 75%;
  margin: 0 auto;
}

.cooperate-wrapper {
  color: #cd4451;
  text-align: center;
}

.cooperate-title {
  padding: 20px 0px;
  margin-bottom: 20px;
}

.center {
  margin: auto;
  width: 25%;
  border-bottom: 5px solid #ff7c83;
  padding: 10px;
}

.cooperate-title h1 {
}

.cooperate {
  display: flex;
}

.cooperate-icon {
  /* float: left; */
  width: 25%;
}

.cooperate-logo img {
  height: 150px;
}

.cooperate-icon img {
}
/* ANAM */

/* ARIF */
.learning-process {
  position: relative;
  padding: 80px 433px 46px 431px;
}

.learning-process h1 {
  padding-bottom: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  line-height: 45px;
  letter-spacing: 0.3px;
  color: #903040;
}

.learning-process p {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #903040;
  opacity: 0.7;
}

.container-learning {
  display: flex;
  position: relative;
  height: 300px;
  padding: 0 50px 0 50px;
  justify-content: space-between;
}

.learnings {
  width: 264px;
  height: 300px;
  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(81, 102, 112, 0.12);
  border-radius: 10px;
}

.learning-icon {
  margin: 43px 108px 0 108px;
  width: 48px;
  height: 48px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.icon {
  padding: 9px 8px;
  width: 32px;
  height: 29px;
  color: #ffffff;
}

.gradient-icon1 {
  background-image: linear-gradient(to bottom right, #8ed0fb, #3a81a3);
}

.gradient-icon2 {
  background-image: linear-gradient(to bottom right, #cdc844, #0cb955);
}

.gradient-icon3 {
  background-image: linear-gradient(to bottom right, #4b2aa7, #581893);
}

.gradient-icon4 {
  background-image: linear-gradient(to bottom right, #cd4451, #c72929);
}

.learning-content h1 {
  padding: 29px 25px 14px 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #903040;
}

.learning-content p {
  padding: 0 25px 18px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #903040;
  opacity: 0.5;
}

.left-course {
  float: left;
  margin: 16px 225px 50px 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 119.5%;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #903040;
}

.left-course h1 span {
  color: #f48c06;
}

.btn-search {
  padding: 18px 79px 18px 79px;
  background: rgba(205, 68, 81, 0.5);
  border: 4px solid #cd4451;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #903040;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.right-course {
  margin: 92px 50px 65px 0;
  display: flex;
  justify-content: space-between;
}

.right-course p {
  padding: 18px 0 18px 0;
  color: #903040;
}

.arrow-bottom {
  padding: 18px 0 18px 0;
  color: #903040;
  cursor: pointer;
}

.container-courses {
  margin: 0 50px 0 50px;
  display: flex;
  justify-content: space-between;
}

.courses {
  height: 498px;
  width: 335px;
  background: #ffffff;
  filter: drop-shadow(0px 20px 50px rgba(205, 68, 81, 0.2));
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.courses img {
  width: 335px;
  height: 235px;
}

.courses-content {
  width: 335px;
  height: 256px;
  background: rgba(205, 68, 81, 0.25);
  border-radius: 0px 30px 30px 30px;
}

.courses-content h1 {
  padding: 12px 15px 0 15px;
  font-size: 16px;
  color: #903040;
}

.courses-content p {
  padding: 8px 15px 0 15px;
  height: 85px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #903040;
}

.divider-content {
  display: block;
  width: 335px;
  border-bottom: 4px solid #903040;
}

.star {
  height: 18px;
  width: 18px;
  padding: 0 0 0 5px;
  color: #908c30;
}

.container-rating {
  display: flex;
}

.rating-course-left {
  margin: 18px 12px 22px 10px;
  display: flex;
}

.rating {
  padding-top: 3px;
}

.rating-text p {
  padding: 0 0 0 8px;
  height: 17px;
}

.container-course-info {
  display: flex;
  justify-content: space-between;
}

.container-course-info-left {
  display: flex;
}

.icon-play {
  padding: 14px 0 16px 13px;
  color: #903040;
}

.icon-graduate {
  padding: 14px 0 16px 0;
  color: #903040;
}
.container-course-info-left p {
  padding: 19px 8px 22px 7px;
  height: 19px;
  color: #903040;
}

.rating-course-right {
  display: flex;
}

.rating-course-right p {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 119.5%;
  letter-spacing: 0.05em;
  color: #eeeeee;
}

.btn-join {
  margin: 12px 0 15px 0;
  height: 33px;
  width: 105px;
  background: #cd4451;

  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.container-course-info-right {
  display: flex;
  padding-right: 25px;
}

.container-course-info-right p {
  padding: 19px 8px 22px 7px;
  height: 19px;
  color: #903040;
}

/* ARIF */
