@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fbf2f2;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  margin: 0 73px 0 72px;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}

.color-01 {
  color: #6fa1c1;
}
.color-02 {
  color: #f48c06;
}

/* NIA */

.top-wrapper {
  padding: 150px 0 150px 0;
  background-size: cover;
  color: #000000;
  text-align: left;
}

.top-wrapper h3 {
  position: absolute;
  width: 302px;
  height: 36px;
  left: 72px;
  top: 193px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}

.top-wrapper h1 {
  position: absolute;
  width: 910px;
  height: 168px;
  left: 72px;
  top: 249px;
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 84px;
  letter-spacing: 0.05em;
  color: #cd4451;
}

.top-wrapper p {
  position: absolute;
  width: 616px;
  height: 81px;
  left: 72px;
  top: 462px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #696984;
}

header {
  position: absolute;
  width: 1440px;
  height: 200px;
  left: 0px;
  top: 0px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-right ul li a {
  font-size: 20px;
  padding-top: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 60px;
  margin: 14px 6px 0 0;
}

.header-left {
  display: flex;
}

.header-left h1 {
  margin: 25px 0 0 0;
}

.header-left h1 .logo-text01 {
  color: #cd4451;
}

.header-left h1 .logo-text02 {
  color: #8ed0fb;
}

.header-right {
  margin: 37px 0 0 230px;
}

.header-right ul {
  display: flex;
}

.header-right ul li {
  padding-left: 60px;
}

.header-right a {
  color: #000000;
  display: block;
  transition: all 0.2s ease-out;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
}

.header-right a:hover {
  color: #ffffff;
}

.icon-search-navbar {
  width: 39px;
  height: 38px;
  color: #000000;
  cursor: pointer;
  transition: all 0.2 ease-out;
  -webkit-transition: all 0.2 ease-out;
  -moz-transition: all 0.2 ease-out;
  -ms-transition: all 0.2 ease-out;
  -o-transition: all 0.2 ease-out;
}

.icon-search-navbar:hover {
  color: #ffffff;
}

span.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.kartun {
  position: absolute;
  width: 510px;
  height: 565px;
  left: 853px;
  top: 193px;
  background: rgba(205, 68, 81, 0.2);
  border-radius: 120px 120px 0px 0px;
}

.btn-wrapper {
  position: absolute;
  width: 200px;
  height: 64px;
  top: 600px;
  background: #cd4451;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.05em;
  color: #e5e5e5;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn-wrapper:hover {
  background: #ffffff;
  filter: drop-shadow(5px 5px 20px rgba(205, 68, 81, 0.7));
  -webkit-filter: drop-shadow(5px 5px 20px rgba(205, 68, 81, 0.7));
}

.btn-wrapper:hover a {
  color: #cd4451;
}

.btn-wrapper a {
  color: #fff;
  padding: 18px;
  font-weight: 600;
  font-size: 18px;
}

.highlight {
  position: relative;
  top: 400px;
  height: 200px;
  background-color: #cd4451;
}

.highlight-content {
  padding: 63px 197px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.highlight-content li h1 {
  color: #ffffff;
}

.highlight-content li p {
  color: #ffffff;
}
/* NIA */

/* ANAM */
.about {
  position: absolute;
  top: 1000px;
  text-align: center;
  background-color: #fffff0;
  padding: 50px 15px;
  border: 1px solid #ec6069;
}

.about h1 {
  color: #cd4451;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 180%;
}

.about p {
  width: 75%;
  margin: 15px 170px 0 170px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  letter-spacing: 0.02em;
  color: #696984;
}

.cooperate-wrapper {
  position: relative;
  top: 880px;
  color: #cd4451;
  text-align: center;
}

.cooperate-title {
  padding: 20px 0px;
  margin-bottom: 20px;
}

.center {
  margin: auto;
  width: 25%;
  border-bottom: 5px solid #ff7c83;
  padding: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 180%;
}

.cooperate {
  display: flex;
}

.cooperate-icon {
  width: 25%;
}

.cooperate-logo img {
  height: 150px;
}

/* ANAM */

/* ARIF */
.learning-process {
  top: 900px;
  position: relative;
  padding: 80px 433px 46px 431px;
}

.learning-process h1 {
  padding-bottom: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 180%;
  text-align: center;
  color: #903040;
}

.learning-process p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #696984;
}

.container-learning {
  display: flex;
  position: relative;
  top: 950px;
  height: 300px;
  padding: 0 50px 0 50px;
  justify-content: space-between;
}

.learnings {
  display: block;
  width: 264px;
  height: 300px;
  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(81, 102, 112, 0.12);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.learnings:hover {
  background: #ffffff;
  filter: drop-shadow(5px 5px 20px rgba(205, 68, 81, 0.7));
  -webkit-filter: drop-shadow(5px 5px 20px rgba(205, 68, 81, 0.7));
}

.learnings:hover .learning-content h1 {
  color: #cd4451;
}

.learnings:hover .learning-content p {
  color: #cd4451;
  opacity: 0.85;
}

.learning-icon {
  margin: 43px 108px 0 108px;
  width: 48px;
  height: 48px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.icon {
  padding: 9px 8px;
  width: 32px;
  height: 29px;
  color: #ffffff;
}

.gradient-icon1 {
  background-image: linear-gradient(to bottom right, #8ed0fb, #3a81a3);
}

.gradient-icon2 {
  background-image: linear-gradient(to bottom right, #cdc844, #0cb955);
}

.gradient-icon3 {
  background-image: linear-gradient(to bottom right, #4b2aa7, #581893);
}

.gradient-icon4 {
  background-image: linear-gradient(to bottom right, #cd4451, #c72929);
}

.learning-content h1 {
  padding: 29px 25px 14px 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #903040;
}

.learning-content p {
  padding: 0 25px 18px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #903040;
  opacity: 0.5;
}

.category-course {
  top: 1000px;
  position: relative;
}

.left-course {
  float: left;
  margin: 16px 180px 50px 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 119.5%;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #903040;
}

.left-course h1 span {
  color: #f48c06;
}

.input-search {
  padding: 13px 15px;
  width: 50%;
  height: 60%;
  display: inline-block;
  background: rgba(205, 68, 81, 0.5);
  border: 4px solid #cd4451;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #903040;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.input-search:hover {
  box-shadow: 3px 10px 15px rgba(205, 68, 81, 0.45);
}

::placeholder {
  color: #903040;
}

.right-course {
  margin: 92px 50px 65px 0;
  display: flex;
  justify-content: space-between;
}

.right-course p {
  margin: 20px 15px 24px 0;
  color: #903040;
}

.link {
  display: flex;
  cursor: pointer;
}

.link-category {
  margin: 16px 0 0 0;
  padding: 0 0;
  color: #903040;
}

.container-courses {
  margin: 0 50px 0 50px;
  position: relative;
  top: 1020px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.courses {
  height: 498px;
  width: 335px;
  background: #ffffff;
  filter: drop-shadow(0px 20px 50px rgba(205, 68, 81, 0.2));
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.courses img {
  width: 335px;
  height: 235px;
}

.courses-content {
  width: 335px;
  height: 256px;
  background: rgba(205, 68, 81, 0.25);
  border-radius: 0px 30px 30px 30px;
}

.courses-content h1 {
  padding: 12px 15px 0 15px;
  font-size: 16px;
  color: #903040;
}

.courses-content p {
  padding: 8px 15px 0 15px;
  height: 85px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: #903040;
}

.divider-content {
  display: block;
  width: 335px;
  border-bottom: 4px solid #903040;
}

.star {
  height: 18px;
  width: 18px;
  padding: 0 5px 0 0;
  color: #908c30;
}

.container-rating {
  display: flex;
}

.rating-course-left {
  margin: 18px 12px 22px 10px;
  display: flex;
}

.rating {
  padding-top: 3px;
  margin-left: 5px;
}

.rating-text p {
  padding: 0 0 0 8px;
  height: 17px;
}

.container-course-info {
  display: flex;
  justify-content: space-between;
}

.container-course-info-left {
  display: flex;
}

.icon-play {
  padding: 14px 0 16px 13px;
  color: #903040;
}

.icon-graduate {
  padding: 14px 0 16px 0;
  color: #903040;
}
.container-course-info-left p {
  padding: 19px 8px 22px 7px;
  height: 19px;
  color: #903040;
}

.rating-course-right {
  display: flex;
}

.rating-course-right p {
  height: auto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 119.5%;
  letter-spacing: 0.05em;
  color: #eeeeee;
}

.btn-join {
  margin: 12px 0 15px 0;
  height: 33px;
  width: 105px;
  background: #cd4451;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}

.btn-join:hover {
  background-color: #ffffff;
  border: 1px solid #cd4451;
  box-shadow: 3px 10px 15px rgba(205, 68, 81, 0.45);
}

.btn-join:hover p {
  color: #cd4451;
}

.btn-join:active {
  position: relative;
  top: 4px;
  background: #cd4451;
  box-shadow: none;
}

.btn-join:active p {
  color: #ffffff;
}
.container-course-info-right {
  display: flex;
  padding-right: 25px;
}

.container-course-info-right p {
  padding: 19px 8px 22px 7px;
  height: 19px;
  color: #903040;
}

/* ARIF */

/* AMAR */
.price-wrapper {
  position: relative;
  background-color: #cd4451;
  top: 1100px;
  height: 560px;
}

.header-price {
  position: relative;
  padding: 56px 288px 0 288px;
  text-align: center;
}

.header-price h1 {
  padding: 56px 0 15px 0;
  font-size: 44px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
}

.header-price p {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: 0.02em;
  text-align: center;
}

.container-price {
  position: relative;
  padding-top: 40px;
}

.prices {
  display: flex;
  justify-content: space-around;
}

.prices-content {
  width: 359px;
  height: 700px;
  background: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  padding: 15px 15px 25px 15px;
}

.prices-content h1 {
  padding: 25px 0 15px 0;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 24px;
  line-height: 45px;
  letter-spacing: 0.05em;
  color: #000000;
}

.prices-content p {
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  letter-spacing: 0, 83px;
  color: #cd4451;
}

.prices-content span {
  padding-bottom: 15px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.83px;
  color: #cd4451;
}

.price-info-left {
  display: flex;
  align-items: center;
}

.price-info-left p {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  padding: 15px 15px 15px 15px;
  width: 100%;
  color: #903040;
  text-align: left;
}

.icon-check {
  padding: 15px 0 15px 10px;
  color: #903040;
}

.icon-false {
  padding: 15px 0 15px 10px;
  color: #903040;
}

.price {
  width: 329px;
  height: 56px;
  box-sizing: border-box;
  border-radius: 10px;
}

.price p {
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.5px;
  color: #ffffff;
}

.btn-join:hover .price {
  color: #cd4451;
}

.prices-btn {
  margin: 0 15px;
}

.testimonial-wrapper {
  top: 1650px;
  position: relative;
}

.testimonial {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  color: #cd4451;
  padding: 0 318px;
}

.testimonials {
  margin: 50px 0;
  padding: 23px 24px;
  width: 350px;
  height: 245px;
  background: #ffffff;
  border-radius: 21px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.testimonials img {
  padding-bottom: 5px;
}

.testimonials h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  color: #bebebe;
}

.testimonials h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  align-items: center;
  color: #000000;
}

.testimonials p {
  padding-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 15.12px;
  line-height: 23px;
  color: #000000;
}

.rating-testimonials {
  margin: 20px 0;
}

.container-testimonial {
  display: flex;
  justify-content: space-between;
}

/* AMAR */

/* NAOMI */
.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer {
  top: 1700px;
  position: relative;
  background-color: #cd4451;
  padding-top: 25px;
}

.row .logo {
  display: flex;
  font-size: 20px;
  color: #ffffff;
  padding-right: 10px;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
}

.logo-footer {
  height: 48px;
}

.footer-right {
  display: flex;
  padding-left: 451px;
}

.footer-col {
  display: flex;
  width: 156px;
  padding-left: 100px;
}

.footer-col h4 {
  font-size: 15px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 15px;
  font-weight: 700;
  position: relative;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 5px;
}

.footer-col ul li a {
  font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
  padding-bottom: 10px;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 5px;
}

.contact {
  border-top: 1px solid #ffffff;
  padding: 10px 0;
}

.contact .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 10px 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5 ease;
}

.contact .social-links a:hover {
  float: right;
  color: #24262b;
  background-color: #ffffff;
}

.contact p {
  font-size: 15px;
  color: #ffffff;
  padding-top: 10px;
  font-weight: bold;
}

.contact h2 {
  float: left;
  font-size: 15px;
  color: #ffffff;
  padding-top: 10px;
}

.social-links {
  display: flex;
  justify-content: flex-end;
}

.social-links img {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(184deg) brightness(101%) contrast(102%);
}
/* NAOMI */
