@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');

/* font-family: 'Poppins', sans-serif; */
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fbf2f2;
}

.container {
  margin: 0 72px 0 72px;
}

.btn-secondary {
  padding: 18px 79px 18px 79px;
  display: inline-block;
  background: rgba(205, 68, 81, 0.5);
  border: 4px solid #cd4451;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  /* identical to box height, or 156% */

  color: #903040;
}

.learning-process {
  position: relative;
  padding: 80px 433px 46px 431px;
}

.learning-process h1 {
  padding-bottom: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  line-height: 45px;
  letter-spacing: 0.3px;
  color: #903040;
}

.learning-process p {
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #903040;
  opacity: 0.7;
}

.container-learning {
  display: flex;
  position: relative;
  height: 300px;
  padding: 0 50px 0 50px;
  justify-content: space-between;
}

.learnings {
  width: 264px;
  height: 300px;
  background: #ffffff;
  box-shadow: 0px 20px 50px rgba(81, 102, 112, 0.12);
  border-radius: 10px;
}

.learning-icon {
  margin: 43px 108px 0 108px;
  width: 48px;
  height: 48px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.iconify {
  padding: 9px 8px;
  width: 32px;
  height: 29px;
  color: #ffffff;
}

.gradient-icon1 {
  background-image: linear-gradient(to bottom right, #8ed0fb, #3a81a3);
}

.gradient-icon2 {
  background-image: linear-gradient(to bottom right, #cdc844, #0cb955);
}

.gradient-icon3 {
  background-image: linear-gradient(to bottom right, #4b2aa7, #581893);
}

.gradient-icon4 {
  background-image: linear-gradient(to bottom right, #cd4451, #c72929);
}

.learning-content h1 {
  padding: 29px 25px 14px 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #903040;
}

.learning-content p {
  padding: 0 25px 18px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #903040;
  opacity: 0.5;
}

.left-course {
  float: left;
  margin: 16px 225px 50px 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 119.5%;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  color: #903040;
}

.left-course h1 span {
  color: #f48c06;
}

.right-course {
  margin: 92px 50px 65px 0;
  display: flex;
  justify-content: space-between;
}

.right-course p {
  padding: 18px 0 18px 0;
}

.arrow-bottom {
  padding: 18px 0 18px 0;
  color: black;
  cursor: pointer;
}

.container-courses {
  display: flex;
  justify-content: space-between;
}

.courses {
  height: 492px;
  width: 335px;
  background: #ffffff;
  filter: drop-shadow(0px 20px 50px rgba(205, 68, 81, 0.2));
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.courses img {
  width: 335px;
  height: 235px;
}

.courses-content {
  width: 335px;
  height: 250px;
  background: rgba(205, 68, 81, 0.25);
  border-radius: 0px 30px 30px 30px;
}
.courses-content h1 {
  padding: 11px 15px 0 15px;
  font-size: 14px;
}
.courses-content p {
  padding: 12px 15px 19px 15px;
}
